* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  padding: 0 120px;
  background: linear-gradient(111.29deg, #333333 4.79%, #6F5BB9 125.09%);
  height: 92vh;
  position: relative;
}

.container .ils img {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 5%;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #EEEEEE;
  padding-top: 46px;
  z-index: 999;
}

.container .navbar .logo {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}

.container .navbar .menu-navbar .btn-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.container .navbar .menu-navbar .btn-navbar .link {
  margin: 0 24px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.container .navbar .menu-navbar .btn-navbar .link:nth-child(3) {
  margin-right: 0;
}

.container .navbar .menu-navbar .btn-navbar .link::before {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  background-color: #EEEEEE;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.15s ease-out 0.1s;
  transition: -webkit-transform 0.15s ease-out 0.1s;
  transition: transform 0.15s ease-out 0.1s;
  transition: transform 0.15s ease-out 0.1s, -webkit-transform 0.15s ease-out 0.1s;
}

.container .navbar .menu-navbar .btn-navbar .link:hover::before {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .ils img {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 5%;
}

.container .main-content .content {
  color: #EEEEEE;
}

.container .main-content .content p.first {
  font-size: 16px;
  margin-bottom: 20px;
}

.container .main-content .content p.first:nth-child(1) {
  margin-bottom: 0;
}

.container .main-content .content .main-text {
  margin-bottom: 20px;
}

.container .main-content .content .main-text p {
  font-size: 36px;
  font-family: "Poppins SemiBold";
}

.container .main-content .content p.second {
  font-size: 16px;
  font-family: "Poppins Light";
  width: 60%;
  margin-bottom: 40px;
}

.container .main-content .content .btn-wrapper {
  width: 175px;
}

.container .main-content .content .btn-wrapper .button-connect {
  font-family: "Poppins SemiBold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .content .btn-wrapper .button-connect button {
  color: #F3D25C;
  font-size: 16px;
  background-color: transparent;
  border: none;
  margin-right: 16px;
}

.container .main-content .content .btn-wrapper .button-connect button:hover {
  cursor: pointer;
}

.container .main-content .content .btn-wrapper .button-connect img {
  -webkit-transition: -webkit-transform .2s ease-out 0.3s;
  transition: -webkit-transform .2s ease-out 0.3s;
  transition: transform .2s ease-out 0.3s;
  transition: transform .2s ease-out 0.3s, -webkit-transform .2s ease-out 0.3s;
}

.container .main-content .content .btn-wrapper .line {
  height: 2px;
  width: 100%;
  background-color: #fbe0805e;
  margin-bottom: 6px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: relative;
  display: inline-block;
}

.container .main-content .content .btn-wrapper .line::before {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F3D25C;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.15s ease-out 0.1s;
  transition: -webkit-transform 0.15s ease-out 0.1s;
  transition: transform 0.15s ease-out 0.1s;
  transition: transform 0.15s ease-out 0.1s, -webkit-transform 0.15s ease-out 0.1s;
}

.container .main-content .content .btn-wrapper:hover .line::before {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container .main-content .content .btn-wrapper:hover {
  cursor: pointer;
}

.container .main-content .content .btn-wrapper:hover .button-connect img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.list-project-container {
  padding: 80px 120px;
}

.list-project-container .list-project .title-wrapper {
  margin-bottom: 12px;
}

.list-project-container .list-project .title-wrapper .first {
  font-size: 32px;
  font-family: "Poppins SemiBold";
  line-height: 32px;
}

.list-project-container .list-project .title-wrapper .first:nth-child(1) {
  font-size: 16px;
  font-family: "Poppins";
}

.list-project-container .list-project .project-wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-project-container .list-project .project-wrapper-container .project-wrapper .child-list img {
  width: 100%;
}

.list-project-container .list-project .project-wrapper-container .project-wrapper .desc {
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
}

.list-project-container .list-project .project-wrapper-container .project-wrapper .desc .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-project-container .list-project .project-wrapper-container .project-wrapper .desc .top .dash {
  height: 1px;
  width: 12px;
  background-color: #22183C;
  margin: 0 10px;
}

.list-project-container .list-project .project-wrapper-container .project-wrapper:nth-child(odd) {
  margin-top: 100px;
  margin-right: 20px;
}

.list-project-container .list-project .project-wrapper-container .project-wrapper:nth-child(even) {
  margin-left: 20px;
}

.list-project-container .list-project .view-all {
  width: 190px;
  margin: auto;
  margin-top: 100px;
}

.list-project-container .list-project .view-all .button-connect {
  font-family: "Poppins SemiBold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-project-container .list-project .view-all .button-connect button {
  color: #22183C;
  font-size: 18px;
  background-color: transparent;
  border: none;
  margin-right: 16px;
}

.list-project-container .list-project .view-all .button-connect button a {
  text-decoration: none;
  color: #22183C;
}

.list-project-container .list-project .view-all .button-connect button:hover {
  cursor: pointer;
}

.list-project-container .list-project .view-all .button-connect img {
  -webkit-transition: -webkit-transform .2s ease-out 0.3s;
  transition: -webkit-transform .2s ease-out 0.3s;
  transition: transform .2s ease-out 0.3s;
  transition: transform .2s ease-out 0.3s, -webkit-transform .2s ease-out 0.3s;
}

.list-project-container .list-project .view-all .line {
  height: 2px;
  width: 100%;
  background-color: #22183c65;
  margin-bottom: 6px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: relative;
  display: inline-block;
}

.list-project-container .list-project .view-all .line::before {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #22183C;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.15s ease-out 0.1s;
  transition: -webkit-transform 0.15s ease-out 0.1s;
  transition: transform 0.15s ease-out 0.1s;
  transition: transform 0.15s ease-out 0.1s, -webkit-transform 0.15s ease-out 0.1s;
}

.list-project-container .list-project .view-all:hover .line::before {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.list-project-container .list-project .view-all:hover {
  cursor: pointer;
}

.list-project-container .list-project .view-all:hover .button-connect img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.footer-container .line {
  height: 1px;
  width: 90%;
  background-color: rgba(34, 24, 60, 0.38);
  margin: auto;
}

.footer-container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container footer .footer-wrapper {
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 120px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container footer .footer-wrapper .left {
  width: 50%;
  display: inline-block;
  position: relative;
}

.footer-container footer .footer-wrapper .left .top-title {
  font-size: 4rem;
  font-family: Poppins SemiBold;
  line-height: 40px;
  margin-bottom: 20px;
  color: #22183C;
}

.footer-container footer .footer-wrapper .left .bottom-title {
  font-size: 64px;
  font-family: "Poppins Light";
  font-weight: normal;
  color: #22183C;
}

.footer-container footer .footer-wrapper .left .line {
  height: 4px;
  background-color: rgba(34, 24, 60, 0.38);
  margin: 0;
  width: 54%;
  border-radius: 2px;
}

.footer-container footer .footer-wrapper .left .line::before {
  content: "";
  position: absolute;
  width: 54%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #22183C;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-out 0.1s;
  transition: -webkit-transform 0.3s ease-out 0.1s;
  transition: transform 0.3s ease-out 0.1s;
  transition: transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
  border-radius: 2px;
}

.footer-container footer .footer-wrapper .left:hover .line::before {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-container footer .footer-wrapper .left:hover {
  cursor: pointer;
}

.footer-container footer .footer-wrapper .right {
  width: 50%;
}

.footer-container footer .footer-wrapper .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-container footer .footer-wrapper .right ul li {
  width: 120px;
  padding-right: 0 40px;
  list-style-type: none;
  margin-bottom: 18px;
  cursor: pointer;
  color: #22183C;
  position: relative;
  display: inline-block;
}

.footer-container footer .footer-wrapper .right ul li::before {
  content: "";
  position: absolute;
  width: 60%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  background-color: #22183C;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.15s ease-out 0.1s;
  transition: -webkit-transform 0.15s ease-out 0.1s;
  transition: transform 0.15s ease-out 0.1s;
  transition: transform 0.15s ease-out 0.1s, -webkit-transform 0.15s ease-out 0.1s;
}

.footer-container footer .footer-wrapper .right ul li:hover::before {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media only screen and (max-width: 1300px) {
  .container .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main-content .content {
    z-index: 2;
  }
  .container .main-content .content p.first {
    font-size: 24px;
    text-align: center;
  }
  .container .main-content .content .main-text p {
    font-size: 48px;
    text-align: center;
  }
  .container .main-content .content p.second {
    text-align: center;
    margin: auto;
  }
  .container .main-content .content .btn-wrapper {
    margin: auto;
    margin-top: 32px;
    width: 100%;
  }
  .container .main-content .content .btn-wrapper .line {
    display: none;
  }
  .container .main-content .content .btn-wrapper .button-connect {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .main-content .content .btn-wrapper .button-connect button {
    background-color: #F3D25C;
    color: #22183C;
    height: 45px;
    padding: 5px 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins SemiBold";
    border-radius: 8px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .container .main-content .content .btn-wrapper .button-connect button:hover {
    border: 2px solid #F3D25C;
    background-color: transparent;
    color: #F3D25C;
  }
  .container .main-content .content .btn-wrapper .button-connect img {
    display: none;
  }
  .container .main-content .ils img {
    width: 100%;
    opacity: .2;
    right: 0;
  }
  .list-project-container .list-project .project-wrapper-container .project-wrapper .desc .top .title {
    font-size: 20px;
  }
  .list-project-container .list-project .project-wrapper-container .project-wrapper .desc .top .dash {
    display: none;
  }
  .list-project-container .list-project .project-wrapper-container .project-wrapper .desc .top-desc {
    display: none;
  }
  .list-project-container .list-project .project-wrapper-container .project-wrapper .desc p.bottom {
    display: none;
  }
  .footer-container footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .footer-container footer .footer-wrapper .left {
    margin-bottom: 32px;
    width: 100%;
  }
  .footer-container footer .footer-wrapper .left h1.top-title {
    font-size: 2rem;
    margin-bottom: 10px;
    width: 100%;
  }
  .footer-container footer .footer-wrapper .left h1.bottom-title {
    font-size: 2rem;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    width: 100%;
  }
  .footer-container footer .footer-wrapper .left .line {
    display: none;
  }
  .footer-container footer .footer-wrapper .left:hover h1.bottom-title {
    text-decoration: underline;
  }
  .footer-container footer .footer-wrapper .left:hover h1.top-title {
    text-decoration: underline;
  }
  .footer-container footer .footer-wrapper .right ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
}

@media only screen and (max-width: 780px) {
  .container {
    padding: 5px;
  }
  .container .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .navbar .menu-navbar {
    display: none;
  }
  .list-project-container {
    padding: 24px;
  }
  .list-project-container .list-project .project-wrapper-container {
    display: inline-block;
    margin-top: 48px;
  }
  .list-project-container .list-project .project-wrapper-container .project-wrapper {
    margin: 0 !important;
    margin-bottom: 36px !important;
  }
  .list-project-container .list-project .project-wrapper-container .project-wrapper .desc {
    margin-top: 10px;
  }
  .footer-container footer .footer-wrapper .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .footer-container footer .footer-wrapper .right ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container footer .footer-wrapper .right ul li {
    width: 100%;
  }
  .footer-container footer .footer-wrapper .right ul li::before {
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    height: 100vh;
  }
  .container .main-content .content p.first {
    font-size: 16px;
  }
  .container .main-content .content .main-text p {
    font-size: 24px;
  }
  .list-project-container .list-project .title-wrapper p.first {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */